= content_for :flash_message do
  = render 'shared/project_limit'

.page-title-holder
  %h1.page-title= _('Projects')

  - if current_user.can_create_project?
    .page-title-controls
      = link_to "New project", new_project_path, class: "btn btn-success"

.top-area.scrolling-tabs-container.inner-page-scroll-tabs
  .fade-left= icon('angle-left')
  .fade-right= icon('angle-right')
  %ul.nav-links.scrolling-tabs.mobile-separator.nav.nav-tabs
    = nav_link(page: [dashboard_projects_path, root_path]) do
      = link_to dashboard_projects_path, class: 'shortcuts-activity', data: {placement: 'right'} do
        您的项目
        %span.badge.badge-pill= limited_counter_with_delimiter(@total_user_projects_count)
    = nav_link(page: starred_dashboard_projects_path) do
      = link_to starred_dashboard_projects_path, data: {placement: 'right'} do
        星标项目
        %span.badge.badge-pill= limited_counter_with_delimiter(@total_starred_projects_count)
    = nav_link(page: [explore_root_path, trending_explore_projects_path, starred_explore_projects_path, explore_projects_path]) do
      = link_to explore_root_path, data: {placement: 'right'} do
        浏览项目

  .nav-controls
    = render 'shared/projects/search_form'
    = render 'shared/projects/dropdown'
