= form_for @appearance, url: admin_appearances_path, html: { class: 'prepend-top-default' } do |f|
  = form_errors(@appearance)


  .row
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0 导航条

    .col-lg-8
      .form-group
        = f.label :header_logo, '标题图标', class: 'col-form-label label-bold pt-0'
        %p
          - if @appearance.header_logo?
            = image_tag @appearance.header_logo_path, class: 'appearance-light-logo-preview'
            - if @appearance.persisted?
              %br
              = link_to '删除标题图标', header_logos_admin_appearances_path, data: { confirm: "您确定要删除标题图标么？"}, method: :delete, class: "btn btn-inverted btn-remove btn-sm remove-logo"
            %hr
          = f.hidden_field :header_logo_cache
          = f.file_field :header_logo, class: ""
          .hint
            文件最大不可超过 1MB。页面是针对 28px 高的标题图标设计的。
  %hr
  .row
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0 Favicon

    .col-lg-8
      .form-group
        = f.label :favicon, '网站图标', class: 'col-form-label label-bold pt-0'
        %p
          - if @appearance.favicon?
            = image_tag @appearance.favicon_path, class: 'appearance-light-logo-preview'
            - if @appearance.persisted?
              %br
              = link_to '删除网站图标', favicon_admin_appearances_path, data: { confirm: "您确定要删除网站图标？"}, method: :delete, class: "btn btn-inverted btn-remove btn-sm remove-logo"
            %hr
          = f.hidden_field :favicon_cache
          = f.file_field :favicon, class: ''
          .hint
            图标最大不可超过 1MB. 图标像素必须为 32x32px. 支持以下格式的图标 #{favicon_extension_whitelist}.
            %br
            尺寸不正确的图像不会自动调整大小，并可能导致意外的行为。


  %hr
  .row
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0 登录/注册页面：

    .col-lg-8
      .form-group
        = f.label :title, '标题', class: 'col-form-label label-bold'
        = f.text_field :title, class: "form-control"
      .form-group
        = f.label :description, "描述", class: 'col-form-label label-bold'
        = f.text_area :description, class: "form-control", rows: 10
        .hint
          描述采用 #{link_to "GitLab 特色的 Markdown", help_page_path('user/markdown'), target: '_blank'}.
      .form-group
        = f.label :logo, '图标', class: 'col-form-label label-bold pt-0'
        %p
          - if @appearance.logo?
            = image_tag @appearance.logo_path, class: 'appearance-logo-preview'
            - if @appearance.persisted?
              %br
              = link_to '删除图标', logo_admin_appearances_path, data: { confirm: "Logo will be removed. Are you sure?"}, method: :delete, class: "btn btn-inverted btn-remove btn-sm remove-logo"
            %hr
          = f.hidden_field :logo_cache
          = f.file_field :logo, class: ""
          .hint
            文件最大大小为 1MB。页面按照 640x360 像素的 LOGO 设计。

  %hr
  .row
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0 新项目页面

    .col-lg-8
      .form-group
        = f.label :new_project_guidelines, '新建项目指引', class: 'col-form-label label-bold'
        %p
          = f.text_area :new_project_guidelines, class: "form-control", rows: 10
          .hint
            项目指导将使用 #{link_to "GitLab 特色的 Markdown", help_page_path('user/markdown'), target: '_blank'}.

      .prepend-top-default.append-bottom-default
        = f.submit '更新外观设置', class: 'btn btn-success'
        - if @appearance.persisted?
          预览最后保存:
          = link_to '登录页面', preview_sign_in_admin_appearances_path, class: 'btn', target: '_blank', rel: 'noopener noreferrer'
          = link_to '新建项目页面', new_project_path, class: 'btn', target: '_blank', rel: 'noopener noreferrer'

        - if @appearance.updated_at
          %span.float-right
            最后编辑时间 #{time_ago_with_tooltip(@appearance.updated_at)}
